@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400|ubuntu-mono:400);
@import "tailwindcss";
@import 'material-symbols';

@theme {
    --color-rosewater: #f4dbd6;
    --color-flamingo: #f0c6c6;
    --color-pink: #f5bde6;
    --color-mauvre: #c6a0f6;
    --color-red: #ed8796;
    --color-marron: #ee99a0;
    --color-peach: #f5a97f;
    --color-yellow: #eed49f;
    --color-green: #a6da95;
    --color-teal: #8bd5ca;
    --color-sky: #91d7e3;
    --color-sapphire: #7dc4e4;
    --color-blue: #8aadf4;
    --color-lavender: #b7bdf8;
    --color-text: #cad3f5;
    --color-subtext1: #b8c0e0;
    --color-subtext0: #a5adcb;
    --color-overlay2: #939ab7;
    --color-overlay1: #8087a2;
    --color-overlay0: #6e738d;
    --color-surface2: #5b6078;
    --color-surface1: #494d64;
    --color-surface0: #363a4f;
    --color-base: #24273a;
    --color-mantle: #1e2030;
    --color-crust: #181926;

    --color-text-overlay: var(--color-overlay2);
}

@plugin "@iconify/tailwind4";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "catppuccin-macchiato";
    default: true;
    color-scheme: "catppuccin-macchiato";

    --color-error: var(--color-red);
    --color-base-content: var(--color-text);
    --color-primary-content: var(--color-text);
    --color-info: var(--color-blue);
    --color-accent: var(--color-mauvre);
    --color-primary: var(--color-mauvre);
    --color-base-100: var(--color-base);
    --color-base-200: var(--color-mantle);
    --color-base-300: var(--color-crust);
    /* --color-secondary-content: var(--color-text); */
    /* --color-info-content: var(--color-text); */
    /* --color-error-content: var(--color-text); */
    /* --color-secondary: var(--color-sapphire); */
    /* --color-pneutral: var(--color-teal); */
    /* --color-success: var(--color-green); */
    /* --color-warning: var(--color-yellow); */

    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

:root {
    --toastify-color-dark: var(--color-surface0);
    --toastify-color-info: var(--color-info);
    --toastify-color-success: var(--color-success);
    --toastify-color-warning: var(--color-warning);
    --toastify-color-error: var(--color-error);
}

@theme {
    --font-sans: "Atkinson Hyperlegible", sans-serif;
    --font-mono: "Ubuntu Mono", monospace;
}

body { @apply text-lg; }
b, strong { @apply font-bold; }
i, em { @apply italic; }
code { @apply p-1 m-1 font-mono rounded-lg bg-base-300; }
img { @apply select-none; }
hr { @apply border-base-content; }
p { @apply inline; }
html, body { @apply overflow-x-hidden max-w-screen; }